interactions:
- request:
    body: m=getTree&dbcode=hgyd&rowcode=zb&colcode=sj&wds=%5B%5D&dfwds=%5B%5D&k1=1772508086432&id=A0101&wdcode=zb
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Requested-With:
      - XMLHttpRequest
    method: POST
    uri: https://data.stats.gov.cn/easyquery.htm
  response:
    body:
      string: "[{\"dbcode\":\"hgyd\",\"id\":\"A01010J\",\"isParent\":false,\"name\":\"\u5168\u56FD\u5C45\u6C11\u6D88\u8D39\u4EF7\u683C\u5206\u7C7B\u6307\u6570(\u4E0A\u5E74\u540C\u6708=100)(2026-)\",\"pid\":\"A0101\",\"wdcode\":\"zb\"},{\"dbcode\":\"hgyd\",\"id\":\"A01010G\",\"isParent\":false,\"name\":\"\u5168\u56FD\u5C45\u6C11\u6D88\u8D39\u4EF7\u683C\u5206\u7C7B\u6307\u6570(\u4E0A\u5E74\u540C\u6708=100)(2021-2025)\",\"pid\":\"A0101\",\"wdcode\":\"zb\"},{\"dbcode\":\"hgyd\",\"id\":\"A010101\",\"isParent\":false,\"name\":\"\u5168\u56FD\u5C45\u6C11\u6D88\u8D39\u4EF7\u683C\u5206\u7C7B\u6307\u6570(\u4E0A\u5E74\u540C\u6708=100)(2016-2020)\",\"pid\":\"A0101\",\"wdcode\":\"zb\"},{\"dbcode\":\"hgyd\",\"id\":\"A010102\",\"isPa[...]
