interactions:
- request:
    body: m=QueryData&dbcode=fsyd&rowcode=reg&colcode=sj&wds=%5B%7B%22wdcode%22%3A+%22zb%22%2C+%22valuecode%22%3A+%22A01010101%22%7D%5D&dfwds=%5B%5D&k1=1772508086617
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Requested-With:
      - XMLHttpRequest
    method: POST
    uri: https://data.stats.gov.cn/easyquery.htm
  response:
    body:
      string: "{\"returncode\":200,\"returndata\":{\"datanodes\":[{\"code\":\"zb.A01010101_reg.110000_sj.202601\",\"data\":{\"data\":0.0,\"dotcount\":1,\"hasdata\":false,\"strdata\":\"\"},\"wds\":[{\"valuecode\":\"A01010101\",\"wdcode\":\"zb\"},{\"valuecode\":\"110000\",\"wdcode\":\"reg\"},{\"valuecode\":\"202601\",\"wdcode\":\"sj\"}]},{\"code\":\"zb.A01010101_reg.110000_sj.202512\",\"data\":{\"data\":0.0,\"dotcount\":1,\"hasdata\":false,\"strdata\":\"\"},\"wds\":[{\"valuecode\":\"A01010101\",\"wdcode\":\"zb\"},{\"valuecode\":\"110000\",\"wdcode\":\"reg\"},{\"valuecode\":\"202512\",\"wdcode\":\"sj\"}]},{\"code\":\"zb.A01010101_reg.110000_sj.202511\",\"data\":{\"data\":0.0,\"dotcount\":1,\"hasdata\":false,\"strdata\":\"\"},\"wds[...]
