interactions:
- request:
    body: m=QueryData&dbcode=hgyd&rowcode=zb&colcode=sj&wds=%5B%5D&dfwds=%5B%7B%22wdcode%22%3A+%22zb%22%2C+%22valuecode%22%3A+%22A0D0101%22%7D%2C+%7B%22wdcode%22%3A+%22sj%22%2C+%22valuecode%22%3A+%22202201%22%7D%5D&k1=1772508085646
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Requested-With:
      - XMLHttpRequest
    method: POST
    uri: https://data.stats.gov.cn/easyquery.htm
  response:
    body:
      string: "{\"returncode\":200,\"returndata\":{\"datanodes\":[{\"code\":\"zb.A0D0101_sj.202201\",\"data\":{\"data\":2431022.72,\"dotcount\":2,\"hasdata\":true,\"strdata\":\"2431022.72\"},\"wds\":[{\"valuecode\":\"A0D0101\",\"wdcode\":\"zb\"},{\"valuecode\":\"202201\",\"wdcode\":\"sj\"}]}],\"freshsort\":0,\"hasdatacount\":1,\"wdnodes\":[{\"nodes\":[{\"cname\":\"\u8D27\u5E01\u548C\u51C6\u8D27\u5E01(M2)\u4F9B\u5E94\u91CF_\u671F\u672B\u503C\",\"code\":\"A0D0101\",\"dotcount\":2,\"exp\":\"\",\"ifshowcode\":false,\"memo\":\"\u8D27\u5E01\u4F9B\u5E94\u91CF\u5DF2\u5305\u542B\u4F4F\u623F\u516C\u79EF\u91D1\u4E2D\u5FC3\u5B58\u6B3E\u548C\u975E\u5B58\u6B3E\u7C7B\u91D1\u878D\u673A\u6784\u5728\u5B58\u6B3E\u7C7B\u91D1\u878D\u673A\u6784\u7684\u5B58\u6B3E\u30022001\u5E746\u6708\u8D77\uFF0C\u5C06\u8BC1\u5238\u516C\u53F8\u5BA2\u6237\u4FDD\u8BC1\u91D1\u8BA1\u5165\u8D27\u5E01\u4F9B\u5E94\u91CF(M2)\uFF0C\u542B\u5728\u5176\u4ED6\u5B58\u6B3E\u9879\u5185\u3002\",\"name\":\"\u8D27\u5E01\u548C\u51C6\u8D27\u5E01(M2)\u4F9B\u5E94\u91CF_\u671F\u672B\u503C\",\"nodesort\":\"1\",\"sortcode\":15328,\"tag\":\"\",\"unit\":\"\u4EBF\u5143\"}],\"wdcode\":\"zb\",\"wdname\":\"\u6307\u6807\"},{\"nodes\":[{\"cname\":\"2022\u5E741\u6708\",\"code\":\"202201\",\"dotcount\":4,\"exp\":\"\",\"ifshowcode\":false,\"memo\":\"\",\"name\":\"2022\u5E741\u6708\",\"nodesort\":\"1\",\"sortcode\":51,\"tag\":\"\",\"unit\":\"\"}],\"wdcode\":\"sj\",\"wdname\":\"\u65F6\u95F4\"}]}}"
    headers:
      WZWS-RAY:
      - 1129-1772536885.707-w-waf10zzst-waf03zzst
      X-ORACLE-DMS-ECID:
      - c30a3a29-563f-45e5-8c12-3d2ea33e9b0a-00e63e16
      X-ORACLE-DMS-RID:
      - '0'
    status:
      code: 200
      message: OK
version: 1
