interactions:
- request:
    body: m=QueryData&dbcode=csnd&rowcode=reg&colcode=sj&wds=%5B%7B%22wdcode%22%3A+%22zb%22%2C+%22valuecode%22%3A+%22A01010101%22%7D%5D&dfwds=%5B%5D&k1=1772508087727
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Requested-With:
      - XMLHttpRequest
    method: POST
    uri: https://data.stats.gov.cn/easyquery.htm
  response:
    body:
      string: "{\"returncode\":200,\"returndata\":{\"datanodes\":[],\"freshsort\":0,\"hasdatacount\":0,\"wdnodes\":[{\"nodes\":[null],\"wdcode\":\"zb\",\"wdname\":\"\u6307\u6807\"},{\"nodes\":[{\"cname\":\"\u5317\u4EAC\",\"code\":\"110000\",\"dotcount\":4,\"exp\":\"\",\"ifshowcode\":false,\"memo\":\"\",\"name\":\"\u5317\u4EAC\",\"nodesort\":\"1\",\"sortcode\":1,\"tag\":\"\",\"unit\":\"\"},{\"cname\":\"\u5929\u6D25\",\"code\":\"120000\",\"dotcount\":4,\"exp\":\"\",\"ifshowcode\":false,\"memo\":\"\",\"name\":\"\u5929\u6D25\",\"nodesort\":\"1\",\"sortcode\":2,\"tag\":\"\",\"unit\":\"\"},{\"cname\":\"\u77F3\u5BB6\u5E84\",\"code\":\"130100\",\"dotcount\":4,\"exp\":\"\",\"ifshowcode\":false,\"memo\":\"\",\"name\":\"\u77F3\u5BB6\u5E84\",\"nodesort\":\"1\",\"sortcode\":3,\"tag\":\"\",\"unit\":\"\"},{\"cname\":\"\u592A\u539F\",\"code\":\"140100\",\"dotcount\":4,\"exp\":\"\",\"ifshow[...]
