interactions:
- request:
    body: m=getTree&dbcode=hgyd&rowcode=zb&colcode=sj&wds=%5B%5D&dfwds=%5B%5D&k1=1772507841423&id=zb&wdcode=zb
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Requested-With:
      - XMLHttpRequest
    method: POST
    uri: https://data.stats.gov.cn/easyquery.htm
  response:
    body:
      string: "[{\"dbcode\":\"hgyd\",\"id\":\"A01\",\"isParent\":true,\"name\":\"\u4EF7\u683C\u6307\u6570\",\"pid\":\"\",\"wdcode\":\"zb\"},{\"dbcode\":\"hgyd\",\"id\":\"A02\",\"isParent\":true,\"name\":\"\u5DE5\u4E1A\",\"pid\":\"\",\"wdcode\":\"zb\"},{\"dbcode\":\"hgyd\",\"id\":\"A03\",\"isParent\":true,\"name\":\"\u80FD\u6E90\",\"pid\":\"\",\"wdcode\":\"zb\"},{\"dbcode\":\"hgyd\",\"id\":\"A04\",\"isParent\":true,\"name\":\"\u56FA\u5B9A\u8D44\u4EA7\u6295\u8D44(\u4E0D\u542B\u519C\u6237)\",\"pid\":\"\",\"wdcode\":\"zb\"},{\"dbcode\":\"hgyd\",\"id\":\"A05\",\"isParent\":true,\"name\":\"\u670D\u52A1\u4E1A\u751F\u4EA7\u6307\u657[...]
[...]
- request:
    body: m=getTree&dbcode=hgyd&rowcode=zb&colcode=sj&wds=%5B%5D&dfwds=%5B%5D&k1=1772507842932&id=A0104&wdcode=zb
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Requested-With:
      - XMLHttpRequest
    method: POST
    uri: https://data.stats.gov.cn/easyquery.htm
  response:
    body:
      string: "[{\"dbcode\":\"hgyd\",\"id\":\"A010401\",\"isParent\":false,\"name\":\"\u5546\u54C1\u96F6\u552E\u4EF7\u683C\u6307\u6570(\u4E0A\u5E74\u540C\u6708=100)\",\"pid\":\"A0104\",\"wdcode\":\"zb\"},{\"dbcode\":\"hgyd\",\"id\":\"A010402\",\"isParent\":false,\"name\":\"\u57CE\u5E02\u5546\u54C1\u96F6\u552E\u4EF7\u683C\u6307\u6570(\u4E0A\u5E74\u540C\u6708=100)\",\"pid\":\"A0104\",\"wdcode\":\"zb\"},{\"dbcode\":\"hgyd\",\"id\":\"A010403\",\"isParent\":false,\"name\":\"\u519C\u6751\u5546\u54C1\u96F6\u552E\u4EF7\u683C\u6307\u6570(\u4E0A\u5E74\u540C\u6708=100)\",\"pid\":\"A0104\",\"wdcode\":\"zb\"}]"
    headers:
      WZWS-RAY:
      - 1129-1772536643.093-w-waf10zzst-w-waf09zzst
      X-ORACLE-DMS-ECID:
      - c30a3a29-563f-45e5-8c12-3d2ea33e9b0a-00e639ce
      X-ORACLE-DMS-RID:
      - '0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: m=getTree&dbcode=hgyd&rowcode=zb&colcode=sj&wds=%5B%5D&dfwds=%5B%5D&k1=1772507853345&id=A0D&wdcode=zb
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Requested-With:
      - XMLHttpRequest
    method: POST
    uri: https://data.stats.gov.cn/easyquery.htm
  response:
    body:
      string: "[{\"dbcode\":\"hgyd\",\"id\":\"A0D01\",\"isParent\":false,\"name\":\"\u8D27\u5E01\u4F9B\u5E94\u91CF\",\"pid\":\"A0D\",\"wdcode\":\"zb\"}]"
    headers:
      WZWS-RAY:
      - 1129-1772536653.284-s6czt-s3czt
      X-ORACLE-DMS-ECID:
      - 701a2ee2-3bfc-45ae-be5e-13d3e693f426-00e5c439
      X-ORACLE-DMS-RID:
      - '0'
    status:
      code: 200
      message: OK
version: 1
