interactions:
- request:
    body: m=QueryData&dbcode=hgyd&rowcode=zb&colcode=sj&wds=%5B%5D&dfwds=%5B%7B%22wdcode%22%3A+%22zb%22%2C+%22valuecode%22%3A+%22A020101%22%7D%2C+%7B%22wdcode%22%3A+%22sj%22%2C+%22valuecode%22%3A+%222024%22%7D%5D&k1=1772507818699
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Requested-With:
      - XMLHttpRequest
    method: POST
    uri: https://data.stats.gov.cn/easyquery.htm
  response:
    body:
      string: "{\"returncode\":200,\"returndata\":{\"datanodes\":[{\"code\":\"zb.A020101_sj.202412\",\"data\":{\"data\":6.2,\"dotcount\":1,\"hasdata\":true,\"strdata\":\"6.2\"},\"wds\":[{\"valuecode\":\"A020101\",\"wdcode\":\"zb\"},{\"valuecode\":\"202412\",\"wdcode\":\"sj\"}]},{\"code\":\"zb.A020101_sj.202411\",\"data\":{\"data\":5.4,\"dotcount\":1,\"hasdata\":true,\"strdata\":\"5.4\"},\"wds\":[{\"valuecode\":\"A020101\",\"wdcode\":\"zb\"},{\"valuecode\":\"202411\",\"wdcode\":\"sj\"}]},{\"code\":\"zb.A020101_sj.202410\",\"data\":{\"data\":5.3,\"dotcount\":1,\"hasdata\":true,\"strdata\":\"5.3\"},\"wds\":[{\"valuecode\":\"A020101\",\"wdcode\":\"zb\"},{\"valuecode\":\"202410\",\"wdcode\":\"sj\"}]},{\"code\":\"zb.A020[...]
